---
import Base from './Base.astro';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
}

const { title, description, image, noindex } = Astro.props;
---

<Base title={title} description={description} image={image} noindex={noindex}>
  <slot name="head" slot="head" />
  <div class="page-container py-8">
    <slot />
  </div>
</Base>
